<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>腾讯秋秋</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/javascripts/_light7@0.4.3@light7/dist/css/light7.min.css">
　  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type='text/javascript' src='/javascripts/_light7@0.4.3@light7/dist/js/light7.min.js' charset='utf-8'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/chat.js"></script>
    <script src="/javascripts/client.js"></script>
  </head>
  <style>
   
    .active .icon{color:#18B4ED; }
  </style>
  <body>
    <header class="bar bar-nav">
      <h1 class="title">消息</h1>
    </header>
    <div class="bar bar-header-secondary">
        <div class="searchbar">
          <a class="searchbar-cancel">Cancel</a>
          <div class="search-input">
            <label class="icon icon-search" for="search"></label>
            <input type="search" id='search' placeholder='搜个锤子你搜'/>
          </div>
        </div>
    </div>
    <div class="content">
      <div class="online_group">
        <div class="online">
                  <div class="online_left">
                      <div class="head_img">
                          <img src="/images/defalut.jpg" alt="">
                      </div>
                  </div>
                  <div class="chat_name">
                    <p>测试聊天室</p>
                    <p>你们说啥</p>
                  </div>
                  <div class="chat_time">
                    <p>下午13:30</p>
                  </div>
              </div>
        </div>
        <div class="online_list" style="display: none;">

        </div>
      </div>
     
    </div>
    <nav class="bar bar-tab">
        <a class="tab-item active" href="#">
          <span class="icon icon-message"></span>
          <span class="tab-label">消息</span>
        </a>
        <a class="tab-item" href="#">
            <span class="icon icon-me"></span>
            <span class="tab-label">联系人</span>
            <!-- <span class="badge">2</span> -->
        </a>
        <a class="tab-item" href="#">
            <span class="icon icon-star"></span>
            <span class="tab-label">动态</span>
        </a>
      </nav>


      <div class="popup popup-about">
          <div class="content-block">
            <p>给自己取一个好听的昵称？</p>
            <div class="list-block">
                <ul>
                  <!-- Text inputs -->
                  <li>
                    <div class="item-content">
                      <div class="item-media"><i class="icon icon-friends"></i></div>
                      <div class="item-inner">
                        <div class="item-title label">昵称</div>
                        <div class="item-input">
                          <input type="text" placeholder="Your name" class="selfUsername">
                        </div>
                      </div>
                    </div>
                  </li>
                  </ul>
                  </div>
            <!-- <p><a href="#" class="close-popup">欧克</a></p> -->
            <p onclick='updateName()'>确定</p>
          </div>
      </div>
  </body>
  <script>
    let selfName = "<%=user.user%>"
    let selfImg = "<%=user.img%>"
    let selfUsername = "<%=user.nickName%>"
    // if(selfUsername == ""){
    //   $.popup('.popup-about');
    // }else{
      socket.emit('login',{selfName,selfImg,selfUsername}) 
    // }

    

    function topMsg(msgObj){
      let {nickName,img} = msgObj.user
      img = `<img src='${img}'>`
      $.notification({
      title: nickName,
      text:msgObj.msg,
      media: img,
      onClick: function() {
        location.href="/chat"
      },
      onClose: function() {
      
      }
});

    }

    // function updateName(){
    //   console.log($(".selfUsername").val())
    //   if(!$(".selfUsername").val()){
    //     $.toast("检测不到文本")
    //     setTimeout(()=>{
    //       $.popup('.popup-about');
    //     },1000)
    //   }else{
    //     $.ajax({
    //       url:"/ajax/updateName",
    //       type:"post",
    //       data:{user:selfName,username:$(".selfUsername").val()},
    //       success(res){
    //         console.log(res)
    //         if(res.data == 200){
    //           $.toast(res.txt)
    //           $.closeModal(".popup-about")
    //           socket.emit('login',{selfName,selfImg,selfUsername:$(".selfUsername").val()})
    //           window.location.href="/"
    //         }else{
    //           $.toast(res.txt)
    //         }
    //       }
    //     })
    //   }
    // }


   
    $(".tab-item").click(function(){
       let type =$(this).index()
       switch(type){
          case 0:
           $(".online_group").show();
           $(".online_list").hide();
           $(".title").html("消息")
           break;
          case 1:
          $(".online_group").hide();
           $(".online_list").show();
           $(".title").html("联系人")
           break;
        default:
          break;
       }
    })

    $(".chat_name").click(()=>{
      location.href = "/chat"
    })
  </script>
</html>
